:root {
    --clr-primary-Cream: hsl(30, 38%, 92%);
    --clr-primary-DarkCyan: hsl(158, 36%, 37%);

    --clr-neutral-VeryDarkBlue: hsl(212, 21%, 14%);
    --clr-neutral-DarkGrayishBlue: hsl(228, 12%, 48%);
    --clr-neutral-White: hsl(0, 0%, 100%);

    --txt-family-Fraunces: "Fraunces", serif;
    --txt-family-Montserrat: "Montserrat", sans-serif;
    --txt-font-w-400: 400;
    --txt-font-w-700: 700;
}

.font-family-Fraunces {
    font-family: var(--txt-family-Fraunces);
    
}

.font-family-Montserrat {
    font-family: var(--txt-family-Montserrat);
}

.clr-primary-green {
    color: var(--clr-primary-green);
}

.text-center {
    text-align: center;
}


.w-50 {
    width: 50%;
}

p {
    font-weight: var(--txt-font-w-400);
}

h1 {
    font-size: 38px;
    color: var(--clr-neutral-VeryDarkBlue);
    line-height: 38px;
}

body {
    width: 100vw;
    height: 100dvh;
    background-color: var(--clr-primary-Cream);
    color: var(--clr-neutral-DarkGrayishBlue);
    font-weight: var(--txt-font-w-400);
    flex-direction: column;
}

.container {
    max-width: 40%;
    height: 55%;
    border-radius: 10px;
    background-color: var(--clr-neutral-White);
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-section {
    height: 100%;
}

.img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info-section {
    padding: 35px;
    height: 100%;
}

.info-section__content {
    flex-direction: column;
    align-items: start;
    /* gap: 30px; */
    justify-content: space-between;
    /* border: 1px red solid; */
    height: 100%;
    width: 100%;
}

.button {
    height: 50px;
    width: 100%;
    background-color: var(--clr-primary-DarkCyan);
    color: var(--clr-neutral-White);
    border-radius: 10px;
    gap: 10px;
}

.price {
    gap: 15px;
}

.old-price {
    text-decoration-line: line-through;
    
}

.new-price {
    font-size: 38px;
    color: var(--clr-primary-DarkCyan);
    font-weight: var(--txt-font-w-700);
    text-decoration-line: none;
}















































body,
h1,
h2,
h3,
p,
hr {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}