:root {
    --clr-neutral-Dark-Blue: hsl(218, 44%, 22%);
    --clr-neutral-Light-Gray: hsl(212, 45%, 89%);
    --clr-neutral-White: hsl(0, 0%, 100%);

    --txt-family-Outfit: "Outfit", sans-serif;
    --txt-font-w-400: 400;
    --txt-font-w-700: 700;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 15px;
}

body {
    background-color: var(--clr-neutral-Light-Gray);
    
    width: 100vw;
    height: 100dvh;
    margin: 0;
    padding: 2rem;
}

.container {
    width: 100%;
    background-color: var(--clr-neutral-White);
    border-radius: 20px;
    padding: 15px;
    
    flex-direction: column;
    gap: 25px;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.info-box {
    width: 100%;
    height: auto;
    padding: 0 20px;
    
}

@media screen and (min-width: 385px){
    .container { max-width: 321px;}
}








.outfit-text {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

.outfit-text-h2 {
    font-weight: 700;
    font-size: 21px;
}

.outfit-text-p {
    font-weight: 400;
    font-size: 15px;
    color: #7D889E;

}










h2 {margin: 0;}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}